<div class="wrapper">
  <p class="greenLc">WELCOME TO THE NEW</p>
  <app-logo></app-logo>
  <div class="separator"></div>
  <p class="purpleLc">work in progress...</p>
  <i class="material-icons purpleLc rotating">settings</i>
</div>