.wrapper {
	padding: 3.7em .7em;
	display: flex;
	flex-direction: column;
	align-items: center;
	
	i {
		font-size: 30vw;
		text-align: center;
	}

	p {
		font-size: 2em;
		text-align: center;
	}

	app-logo {
		margin: 2em auto;
		border: 1px solid #74e59e;
	}
}