<div class="header whiteBg">
    <app-logo></app-logo>
    <div class="grow"></div>
    <app-menu></app-menu>
</div>
<router-outlet></router-outlet>
<button class="btn installBtn" *ngIf="_pwa.promptEvent && !_pwa.appInstalled" (click)="installPwa()">
	INSTALL THE APP
</button>