.header {
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	border-bottom: 2px solid #ac74e5;
	z-index: 100;
}

.installBtn {
	display: flex;
	align-items: center;
	z-index: 100;
	position: fixed;
	bottom: 1vw;
	left: 50vw;
	transform: translateX(-50%);
}