.moonWrapper {
	overflow: hidden;
	position: relative;
	border-radius: 50%;
	background-color: white;

	.moonIndicator {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #74e59e;
		top: 0;
	}
}