.wrapper {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 0.5em 0.4em .1em 0;

	i {
		font-size: 2.5em;
		margin-right: -.35em;
		height: 1.1em;
	}

	span {
		font-size: 1.6em;
		line-height: 1em;
		margin: 0 .2em;
	}
}