/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/purple-green.css';
@import url("//hello.myfonts.net/count/33da92");
@font-face {font-family: 'FuturaStd-Medium';src: url('/assets/webfonts/33DA92_0_0.eot');src: url('/assets/webfonts/33DA92_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/33DA92_0_0.woff2') format('woff2'),url('/assets/webfonts/33DA92_0_0.woff') format('woff'),url('/assets/webfonts/33DA92_0_0.ttf') format('truetype');}
 
* {
	font-size: 16px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	font-family: FuturaStd-Medium, sans-serif;
}

button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  appearance: none !important;
  outline: none !important;
}

html, body {
	margin: 0!important;
	padding: 0!important;
  width: 100vw;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.FuturaStd-Medium { 
	font-family: FuturaStd-Medium;
	font-weight: normal;
	font-style: normal;
}

.greenLc {
	color: #74e59e;
}

.purpleLc {
	color: #ac74e5;
}

.separator {
  width: 100%;
  height: 2px;
  margin: 2em auto;
  background-color: #74e59e;
}

.greyBg {
	background-color: #ececec;
}

.whiteBg {
	background-color: white;
}

.btn {
  padding: .6em .8em .3em;
  background-color: white;
  border: 1px solid #74e59e;
  color: #ac74e5;
  text-transform: uppercase;
  font-size: 1.4em;
  cursor: pointer;

  &:hover, &.selected {
    color: white;
    background-color: #ac74e5;
    padding: .5em .7em .2em;
    border: 2px solid #74e59e;
    font-size: 1.5em;
  }
}

.smallBtn {
  padding: .45em .3em .15em;
  background-color: white;
  border: 1px solid #74e59e;
  color: #ac74e5;
  text-transform: uppercase;
  font-size: .75em;
  cursor: pointer;

  &:hover, &.selected {
    color: white;
    background-color: #ac74e5;
  }
}

.hugeFont {
  font-size: 2.6em !important;
  padding: .25em;
}

.highlight {
  font-size: 1.4em !important;
  padding: .2em;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
 
@keyframes pulse { 
    0% { 
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    } 

    2% { 
        -ms-transform: scale(.98);
        -moz-transform: scale(.98);
        -webkit-transform: scale(.98);
        -o-transform: scale(.98);
        transform: scale(.98);
    }

    12% { 
        -ms-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform: scale(1.02);
    } 

    35% { 
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    } 

    40% { 
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    } 

    42% { 
        -ms-transform: scale(.98);
        -moz-transform: scale(.98);
        -webkit-transform: scale(.98);
        -o-transform: scale(.98);
        transform: scale(.98);
    }

    52% { 
        -ms-transform: scale(1.02);
        -moz-transform: scale(1.02);
        -webkit-transform: scale(1.02);
        -o-transform: scale(1.02);
        transform: scale(1.02);
    } 

    90% { 
        -ms-transform: scale(1);
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    } 
}

.pulsing {
  -webkit-animation: pulse 1.7s ease-in infinite;
  -moz-animation: pulse 1.7s ease-in infinite;
  -ms-animation: pulse 1.7s ease-in infinite;
  -o-animation: pulse 1.7s ease-in infinite;
  animation: pulse 1.7s ease-in infinite;
} 

.rotating {
  -webkit-animation: rotating 27s linear infinite;
  -moz-animation: rotating 27s linear infinite;
  -ms-animation: rotating 27s linear infinite;
  -o-animation: rotating 27s linear infinite;
  animation: rotating 27s linear infinite;
}

.grow {
	flex-grow: 1;
}