<div class="loader {{ loaded ? 'ending' : 'loading' }}" *ngIf="_darkSky.loading">{{loading}}</div>
<div class="wrapper">
	<div *ngIf="DSDataTree" class="placesWrapper">
		<div class="form-group places" [formGroup]="locationForm">
			<mat-form-field class="filter-full-width">
				<mat-label>LATITUDE</mat-label>
				<input placeholder="a custom latitude..." type="text" matInput id="latitude" formControlName="latitude"/>
			</mat-form-field>
			<mat-form-field class="filter-full-width">
				<mat-label>LONGITUDE</mat-label>
				<input placeholder="a custom longitude..." type="text" matInput id="longitude" formControlName="longitude"/>
			</mat-form-field>
			<button class="smallBtn" (click)="selectCustomPlace()">
				GET DATA FOR CUSTOM LOCATION
			</button>
			<button class="smallBtn" (click)="selectDefaultPlace()">
				RESET to {{ places[0].name }} (default)
			</button>
		</div>
	</div>
	<h1>
		<div *ngIf="DSDataTree" class="tempInfoWrapper">
			<h2>DATA FOR LOCATION: {{selectedPlace.name | uppercase}}</h2>
			<div class="realTemp tempInfo greenLc">
				<i class="material-icons pulsing">title</i>
				<span class="grow">{{DSDataTree.currently.temperature | number:'1.1-1'}}º</span>
			</div>
			<div class="feelTemp tempInfo greenLc">
				<i class="material-icons pulsing">favorite</i>
				<span class="grow">{{DSDataTree.currently.apparentTemperature | number:'1.1-1'}}º</span>
			</div>
		</div>
		<div *ngIf="DSDataTree" class="currentIcon">
			<app-weather-icon [icon]="DSDataTree.currently.icon"></app-weather-icon>
		</div>
		<div *ngIf="!DSDataTree" class="highlight">
			<span class="greenLc">NO CONNECTION</span>
			<span class="purpleLc">AVAILABLE</span>
		</div>
		<i *ngIf="!DSDataTree" class="material-icons pulsing">wifi_off</i>
		<div class="grow"></div>
	</h1>
	<h2 *ngIf="DSDataTree" class="purpleLc highlight">
		{{DSDataTree.currently.summary}}
	</h2>
	<div class="summariesWrapper greenLc">
		<div class="summaries">
			<div class="summary" *ngIf="DSDataTree">
				<h3 class="highlight">RAIN</h3>
				<div class="summaryData">
					<div class="summaryIcon">
						<i class="material-icons">beach_access</i>
					</div>
				</div>
				<div>
					<p>
						<span>PROBABILITY: </span>
						<span>
							{{ (DSDataTree.currently.precipProbability * 100) | number:'1.0-0' }}%
						</span>  
					</p>
					<p *ngIf="DSDataTree.currently.precipProbability > 0">
						<span>INTENSITY: </span>
						<span>
							{{ (DSDataTree.currently.precipIntensity * 100) | number:'1.0-0'}}%
						</span>
					</p>
				</div>
			</div>
			<div class="summary" *ngIf="DSDataTree">
				<h3 class="highlight">WIND</h3>
				<div class="summaryData">
					<div class="summaryIcon">
						<i class="material-icons">gesture</i>
					</div>
				</div>
				<div>
					<p>
						{{ DSDataTree.currently.windBearing | wind }}
					</p>
					<p>
						SPEED: {{ (DSDataTree.currently.windSpeed * 3.6) | number:'1.0-0' }} km/h
					</p>
					<p>
						GUST: {{ (DSDataTree.currently.windGust * 3.6) | number:'1.0-0'}} km/h
					</p>
				</div>
			</div>
			<div class="summary" *ngIf="DSDataTree">
				<h3 class="highlight">CLOUD COVER</h3>
				<div class="summaryData">
					<div class="summaryIcon">
						<i class="material-icons">cloud</i>
					</div>
				</div>
				<div>
					<p class="hugeFont">
						{{ (DSDataTree.currently.cloudCover * 100) | number:'1.0-0' }}%
					</p>
				</div>
			</div>
			<div class="summary" *ngIf="DSDataTree">
				<h3 class="highlight">HUMIDITY</h3>
				<div class="summaryData">
					<div class="summaryIcon">
						<i class="material-icons">wash</i>
					</div>
				</div>
				<div>
					<p class="hugeFont">
						{{ (DSDataTree.currently.humidity * 100) | number:'1.0-0' }}%
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="separator"></div>
	<h3 *ngIf="DSDataTree" class="purpleLc hugeFont">
		NEXT 3 DAYS HOURLY
	</h3>
	<div class="hourlyForecasts">
		<div class="hoursWrapper" *ngIf="DSDataTree">
			<div class="dayTitle">
				<h2 *ngIf="today[0]" class="purpleLc hugeFont">
					{{ (today[0].time * 1000) | date:'EEE d'}}
				</h2>
			</div>
			<div class="hours greenLc today">
				<div class="hour" *ngFor="let hour of today" >
					<h3 class="highlight">
						<p>
							{{ (hour.time * 1000) | date:'HH'}}h
						</p>
					</h3>
					<div class="hourlyIcon">
						<app-weather-icon [icon]="hour.icon"></app-weather-icon>
					</div>
					<h3 class="purpleLc hourlyDetails">
						<p>
							Rain Probability: {{ (hour.precipProbability * 100) | number:'1.0-0'}}%
						</p>
						<p *ngIf="((hour.precipProbability * 100) | number:'1.0-0') > 0">
							Rain Intensity: {{ (hour.precipIntensity * 100) | number:'1.0-0'}}%
						</p>
						<div class="hourlySummaryWrapper">
							<div class="grow"></div>
							<div class="highlight">{{ hour.summary }}</div>
							<div class="grow"></div>
						</div>
					</h3>
				</div>
			</div>
		</div>
		<div class="separator"></div>
		<div class="hoursWrapper" *ngIf="DSDataTree">
			<div class="dayTitle">
				<h2 *ngIf="tomorrow[0]" class="purpleLc hugeFont">
					{{ (tomorrow[0].time * 1000) | date:'EEE d'}}
				</h2>
			</div>
			<div class="hours greenLc tomorrow">
				<div class="hour" *ngFor="let hour of tomorrow" >
					<h3 class="highlight">
						<p>
							{{ (hour.time * 1000) | date:'HH'}}h
						</p>
					</h3>
					<div class="hourlyIcon">
						<app-weather-icon [icon]="hour.icon"></app-weather-icon>
					</div>
					<h3 class="purpleLc hourlyDetails">
						<p>
							Rain Probability: {{ (hour.precipProbability * 100) | number:'1.0-0'}}%
						</p>
						<p *ngIf="((hour.precipProbability * 100) | number:'1.0-0') > 0">
							Rain Intensity: {{ (hour.precipIntensity * 100) | number:'1.0-0'}}%
						</p>
						<div class="hourlySummaryWrapper">
							<div class="grow"></div>
							<div class="highlight">{{ hour.summary }}</div>
							<div class="grow"></div>
						</div>
					</h3>
				</div>
			</div>
		</div>
		<div class="separator"></div>
		<div class="hoursWrapper" *ngIf="DSDataTree">
			<div class="dayTitle">
				<h2 *ngIf="dayAfterTomorrow[0]" class="purpleLc hugeFont">
					{{ (dayAfterTomorrow[0].time * 1000) | date:'EEE d'}}
				</h2>
			</div>
			<div class="hours greenLc dayAfterTomorrow">
				<div class="hour" *ngFor="let hour of dayAfterTomorrow" >
					<h3 class="highlight">
						<p>
							{{ (hour.time * 1000) | date:'HH'}}h
						</p>
					</h3>
					<div class="hourlyIcon">
						<app-weather-icon [icon]="hour.icon"></app-weather-icon>
					</div>
					<h3 class="purpleLc hourlyDetails">
						<p>
							Rain Probability: {{ (hour.precipProbability * 100) | number:'1.0-0'}}%
						</p>
						<p *ngIf="((hour.precipProbability * 100) | number:'1.0-0') > 0">
							Rain Intensity: {{ (hour.precipIntensity * 100) | number:'1.0-0'}}%
						</p>
						<div class="hourlySummaryWrapper">
							<div class="grow"></div>
							<div class="highlight">{{ hour.summary }}</div>
							<div class="grow"></div>
						</div>
					</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="separator"></div>
	<h3 *ngIf="DSDataTree" class="purpleLc hugeFont">
		NEXT WEEK
	</h3>
	<div *ngIf="DSDataTree" class="weekSummary purpleLc">
		<div *ngIf="DSDataTree" class="dailyIcon">
			<app-weather-icon [icon]="DSDataTree.daily.icon"></app-weather-icon>
		</div>
		<p class="highlight">
			{{DSDataTree.daily.summary}}
		</p>
	</div>
	<div class="dailiesWrapper" *ngIf="DSDataTree">
		<div class="dailies greenLc">
			<div class="daily" *ngFor="let daily of DSDataTree.daily.data" >
				<h3 class="highlight">
					<p>
						{{ (daily.time * 1000) | date:'EEE, MMM d'}}
					</p>
				</h3>
				<div class="dailyIcon">
					<app-weather-icon class="grow" [icon]="daily.icon"></app-weather-icon>
					<app-moon-icon class="grow" [moonPhase]="daily.moonPhase"></app-moon-icon>
				</div>
				<h3 class="purpleLc dailyDetails">
					<p>
						{{ daily.temperatureMin | number:'1.0-0' }}º - {{ daily.temperatureMax  | number:'1.0-0' }}º
					</p>
					<div class="dailySummary grow highlight">{{ daily.summary }}</div>
				</h3>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<img src="/assets/poweredby-darkbackground.png" />
</div>