.loader {
	position: absolute;
	top: 3.53em;
	left: 0;
	height: 3px;
	width: 0;
	background-color: #74e59e;
	margin-bottom: -3px;

	&.loading {
		-webkit-animation: growing 2s ease-out;
		-moz-animation: growing 2s ease-out;
		-ms-animation: growing 2s ease-out;
		-o-animation: growing 2s ease-out;
		animation: growing 2s ease-out;
	}

	&.ending {
		width: 100vw;
		transition: width .4s;
	}
}

@keyframes growing {
  from {
    width: 0;
  }
  to {
    width: 60vw;
  }
}
.wrapper {
	padding: 5em 2.5vw;
	width: 95vw;

	h1 {
		text-transform: uppercase;
		display: flex;
		align-items: center;
		padding: 1em 0 0;

		.currentIcon {

			::ng-deep i {
				color: #ac74e5;
				margin: auto;
				font-size: 6.5em;
				width: 1em;
				height: 1em;
			}
		}

		i {
			font-size: 6.5em;
			width: 1em;
			height: 1em;
		}

		.tempInfoWrapper {
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			margin: 0 3em 0 0;

			.tempInfo {
				display: flex;
				align-items: flex-start;
				flex-direction: row;

				i {
					font-size: 3.6em;
				}

				span {
					font-size: 3em;
					padding: .1em 0;
				}
			}
		}

		div {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			span:first-child {
				font-size: 1.5em
			}

			span:last-child {
				font-size: 1em
			}
		}
	}

	.placesWrapper {
		width: 100%;
		overflow-x: hidden;
		background-color: #74e59e;
		padding: .6em;

		.places {
			display: flex;
			flex-direction: column;
			align-items: left;
			margin: 0 .3em;

			button {
				display: inline;
				white-space: nowrap;
			}
		}
	}

	h2 {
		padding: .2em 0;
		text-align: center;
	}

	.summariesWrapper {
		overflow-x: hidden;

		.summaries {
			overflow-x: scroll;
			overflow-y: hidden;
			display: flex;
			align-items: center;

			.summary {
				display: flex;
				align-items: center;
				flex-direction: column;
				border: 1px solid #74e59e;
				margin: .25em;
				padding: .75em;
				width: 14em;
				min-width: 14em;
				height: 18em;

				.summaryData {
					display: flex;
					align-items: center;
					flex-direction: row;

					p {
						margin-block-start: 0;
    					margin-block-end: 0;
    					line-height: 100%;
					}

					h3 {
						text-align: center;
						height: 1.2em;
						margin-block-start: 0;
    					margin-block-end: 0;
					}

					.summaryIcon {
						display: flex;
						flex-direction: column;
						margin-right: 1em;

						i {
							font-size: 5.5em;
						}

						span {
							text-align: center;
						}

						::ng-deep i {
							color: #ac74e5;
							font-size: 6.5em;
						}
					}
				}
			}
		}
	}

	h3 {
		margin-block-start: .5em;
    	margin-block-end: .5em;
	}

	.weekSummary {
		display: flex;
		align-items: center;
		padding: 1em 1em 1em 0;

		.dailyIcon {
			margin: 0 .5em .3em 0;

			::ng-deep i {
				color: #ac74e5;
				margin: auto;
				font-size: 6.5em;
				width: 1em;
				height: 1em;
			}
		}
	}

	.hourSummary {
		display: flex;
		align-items: center;
		padding: 1em 1em 1em 0;

		.hourIcon {
			margin: 0 .5em .3em 0;
			text-align: center;

			::ng-deep i {
				color: #ac74e5;
				margin: auto;
				font-size: 6.5em;
				width: 1em;
				height: 1em;
			}
		}
	}

	.dailiesWrapper {
				overflow-x: hidden;			

		.dailies {
			display: flex;
			align-items: center;
			flex-direction: row;
			overflow-x: scroll;
			overflow-y: hidden;

			.daily {
				display: flex;
				align-items: center;
				flex-direction: column;
				border: 1px solid #74e59e;
				margin: .25em;
				padding: .75em;
				min-width: 18em;
				height: 25em;

				.dailyIcon {
					width: 80%;
					display: flex;
					align-items: center;

					::ng-deep i {
						color: #ac74e5;;
						font-size: 5em;
					}

					::ng-deep .moonWrapper {
						width: 3.6em;
						height: 3.6em;
					}
				}

				h3 {
					width: 90%;
					margin: auto;

					p {
						text-align: center;
						font-size: 1.4em;
						margin-block-start: .2em;
    					margin-block-end: .2em;
					}

					&.dailyDetails {
						border-top: 1px solid #74e59e;
						margin-top: 2em;
						padding-top: 2em;
						height: 40%;
						margin-block-start: 1em;
    					margin-block-end: 1em;
    					display: flex;
    					align-items: center;
    					flex-direction: column;

    					.dailySummary {
    						display: flex;
    						align-items: center;
    						text-align: center;
    					}
					}
				}
			}
		}
	}

	.hourlyForecasts {
		overflow-x: hidden;	

		.hoursWrapper {

			.dayTitle {

				h2 {
					max-width: 100vw;
				}
			}		

			.hours {
				display: flex;
				align-items: center;
				flex-direction: row;
				overflow-x: scroll;
				overflow-y: hidden;

				.hour {
					display: flex;
					align-items: center;
					flex-direction: column;
					border: 1px solid #74e59e;
					margin: .25em;
					padding: .75em;
					min-width: 16em;
					width: 16em;
					height: 27em;

					.hourlyIcon {
						display: flex;
						flex-direction: row;
						align-items: center;
						position: relative;
						width: 100%;
						display: flex;
						flex-direction: column;
						align-items: center;

						::ng-deep i {
							color: #ac74e5;;
							font-size: 6em;
							width: 1em;
							height: 1em;
							text-align: center;
						}
					}

					h3 {
						width: 90%;
						margin: auto;
						margin-block-start: .2em;
	    				margin-block-end: .2em;
						
						&.hourlyDetails {
							border-top: 1px solid #74e59e;
							margin-top: 1em;
							margin-block-start: 1em;
	    					margin-block-end: 1em;

	    					p {
	    						margin-block-start: 1em;
	    					}

	    					.hourlySummaryWrapper {
	    						height: 100%;
	    						display: flex;
	    						flex-direction: column;
	    						align-items: center;
	    					}
						}

						p {
							text-align: center;
							font-size: 1.2em;
							margin-block-start: .2em;
	    					margin-block-end: .2em;
						}
					}
				}
			}
		}
	}
}

.footer {
	position: fixed;
	height: 2em;
	width: 100vw;
	bottom: 0;
	left: 0;
	background-color: #74e59e;
	overflow: hidden;

	img {
		height: 2em;
		width: auto;
	}
}