<div id="smMenu" class="purpleLc">
	<button id="smMenuTrigger" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
	  <mat-icon>more_vert</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
		<a mat-menu-item *ngFor="let link of navLinks" [routerLink]="link.path">
			<i class="material-icons">{{ link.icon }}</i>{{ link.label }}
		</a>
	</mat-menu>
</div>
