<div class="wrapper">
	<h1>
		<div class="grow">
			<span class="greenLc">{{name}}</span>
			<span class="purpleLc">{{position}}</span>
		</div>
		<img src="/assets/bebo.png" />
	</h1>
	<div class="separator"></div>
	<a mat-menu-item *ngFor="let link of infoLinks" [href]="link.path" target="_blank">
		<i class="material-icons greenLc">{{ link.icon }}</i><span class="purpleLc">
			{{ link.label }}
		</span>
	</a>
</div>