.wrapper {
	padding: 3.7em .7em;

	h1 {
		text-transform: uppercase;
		display: flex;
		align-items: center;
		padding: 1em 0 0;

		img {
			width: 3.5em;
			height: 3.5em;
			border-radius: 50%;
			margin: 0 .25em;
		}

		div {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			span:first-child {
				font-size: 1.5em
			}

			span:last-child {
				font-size: 1em
			}
		}
	}

	::ng-deep .mat-menu-item {
		padding: 0 !important;
		height: 2.25em !important;
	}
}